* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.book-container:nth-child(odd) {
  background-color: #f9f9f9;
}

.line {
  border-bottom: 1px solid black;
  width: 80px;
  margin: 25px auto;
}
