* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.book-container:nth-child(odd) {
  background: #f9f9f9;
}

.btn {
  background: #fff;
  box-shadow: 2px 2px 2px #000;
  transition: 0.5s;
}

.btn:hover {
  background: #333;
  color: #fff;
}

.add-btn {
  float: right;
}

/* .hidden {
  display: none;
} */



